<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Fridge Raider - Profile</title>
    <script src="https://kit.fontawesome.com/850f048d48.js" crossorigin="anonymous"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/main.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<h1>Profile</h1>

<div>
    <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>

    <p>
        <strong>Display Name:</strong>
        <span th:text="${user.displayName} ?: 'Not set'"></span>
    </p>
</div>

<h3>Update Display Name</h3>

<form th:action="@{/profile/update}" method="post">
    <input type="text" name="displayName" placeholder="Enter new display name" required />
    <button type="submit">Update</button>
</form>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>