@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
@keyframes scroll-left {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-1632px); }
}

@keyframes scroll-right {
    0%   { transform: translateX(-1632px); }
    100% { transform: translateX(0); }
}
}