@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
@keyframes scroll-left {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-1632px); }
}

@keyframes scroll-right {
    0%   { transform: translateX(-1632px); }
    100% { transform: translateX(0); }
}
}

/* Reusable colour utilities */
.bg-brand-green {
    background-color: rgba(22, 101, 52, 0.8); /* green */
}

.text-brand-yellow {
    color: #facc15; /* amber/yellow */
}

.border-brand-green {
    border-color: rgba(74, 222, 128, 0.3);
}